/NarakaBladepoint.App/obj
/NarakaBladepoint.App/bin
/NarakaBladepoint.Controls/obj
/NarakaBladepoint.Controls/bin
/NarakaBladepoint.Framework/obj
/NarakaBladepoint.Framework/bin
/NarakaBladepoint.Modules/obj
/NarakaBladepoint.Modules/bin
/NarakaBladepoint.Shared/obj
/NarakaBladepoint.Shared/bin
/NarakaBladepoint.Resources/bin
/NarakaBladepoint.Resources/obj
/.vs
/scripts/NarakaBladepoint-WPF.exe
